body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* 연회색 배경 */
}

header {
    background-color: #333; /* 헤더 배경색 */
    text-align: center; /* 중앙 정렬 */
    padding: 10px 0;
}

header button {
    background-color: #000; /* 버튼 배경색 */
    color: #fff; /* 버튼 글자색 */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
}

.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.post-form input[type="text"], .post-form textarea {
    width: 100%;
    max-width: 800px; /* 최대 너비 설정 */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.post-form button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.post-form button:hover {
    background-color: #666;
}
