<!DOCTYPE html>
<html>
<head>
    <title>PlayPalace - Home</title>
    <link rel="stylesheet" href="../static/css/play_styles.css">
</head>
<body>
    <header>
        <h1>PlayPalace</h1>
        <nav>
            <button onclick="location.href='created.html'">Create Post</button>
            <button onclick="location.href='profile.html'">Profile</button>
        </nav>
    </header>
    <main>
        <!-- 게시물 표시 -->
        <!-- 예시 게시물 -->
        <div class="post" onclick="location.href='/post/1'">
            <h2>Post Title 1</h2>
        </div>
        <!-- 추가 게시물 -->
        <div class="post" onclick="location.href='/post/2'">
            <h2>Post Title 2</h2>
        </div>
    </main>
    <footer>
        <p>© 2023 PlayPalace. All rights reserved.</p>
    </footer>
</body>
</html>
