<!DOCTYPE html>
<html>
<head>
    <title>PlayPalace - Create Post</title>
    <link rel="stylesheet" href="../static/css/create.css">
</head>
<body>
    <header>
        <button onclick="location.href='home.html'">PlayPalace</button>
    </header>
    <main>
        <form class="post-form">
            <input type="text" id="postTitle" name="postTitle" placeholder="제목을 입력하세요" required>
            <textarea id="postContent" name="postContent" placeholder="내용을 입력하세요" required></textarea>
            <button type="submit">작성하기</button>
        </form>
    </main>
</body>
</html>
